/* CSS for links landing page @ /landing/links */

.avatar {
  @apply mx-auto;
  @apply rounded-full;
  @apply p-2;
  max-width: 10.5rem;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-color: red;
}

.bg-twitter {
  background-color: #1da1f2;
  opacity: 0.85;
}
.bg-github {
  background-color: #181717;
  opacity: 0.85;
}
.bg-instagram {
  background-color: #e4405f;
  opacity: 0.85;
}
.bg-linkedin {
  background-color: #0077b5;
  opacity: 0.85;
}
.bg-snapchat {
  background-color: #fffc00;
  opacity: 0.85;
}
.bg-email {
  @apply bg-blue-600;
  opacity: 0.85;
}
.bg-resume {
  @apply bg-blue-600;
  opacity: 0.85;
}

/* TODO: This CSS needs to be scoped for just /links/landing */
/* Defines the background color for the site */
/* This functions as a border around the content */
/* html,
body {
  background-color: #3498db;
} */

/* This is what the content is displayed on top of */
.foreground {
  @apply rounded-md;
  @apply shadow-md;
  background-color: #ecf0f1;
  position: fixed;
  left: 0.5rem;
  right: 0.5rem;
  top: 1rem;
  bottom: 1rem;
  overflow: scroll;
}
